/*global code*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.remove_decoration {
  list-style-type: none;
}

/* Social Media buttons */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none !important;
}

/* Add a hover */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
  text-decoration: none;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
  text-decoration: none;
}

/* Instagram */
.fa-instagram {
  background: #3f729b;
  color: white;
}

/* Footer */
footer {
  background: rgb(70, 70, 70);
  color: white;
}

footer a {
  color: white;
}

.footer-copyright {
  background: rgb(80, 80, 80);
}

/*CSS Code for index.html*/

#homepage_header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#homepage_header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#homepage_header .container {
  position: relative;
  z-index: 2;
}

#homepage_header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  #homepage_header {
    background: url("/img/Big\ Yellow\ 2cv.jfif") black no-repeat center center
      scroll;
  }

  #homepage_header video {
    display: none;
  }
}

#homepage_welcome_message {
  font-size: x-large;
}

/*CSS Code for index.html end*/

/*CSS Code for About Us.html*/
.header-Wrapper {
  background-image: url(img/Header\ Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  text-align: center;
  font-size: 20vh;
  color: #fffed2;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 3px;
}

.about-text h2 {
  padding: 0;
  margin-bottom: 15px;
  text-align: center;
  color: rgb(70, 70, 70);
  font-size: xxx-large;
}

.about-text {
  padding: 0;
  text-align: center;
  width: 100%;
  color: rgb(70, 70, 70);
  font-size: x-large;
}

.about-us-left-page {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 20px;
  padding-left: 40px;
  border-right: 3px ridge black;
}

.about-us-right-page {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 20px;
  padding-left: 30px;
}

.about-text ul {
  list-style-type: none;
}

.why-us {
  width: 100%;
  font-size: x-large;
  padding: 0;
  text-align: center;
  color: rgb(70, 70, 70);
}

.why-us h2 {
  padding: 0;
  margin-bottom: 15px;
  color: rgb(70, 70, 70);
  font-size: xxx-large;
}

/*CSS Code for About Us.html end*/

/*Code for new header */
header img {
  width: 100%;
}

/*Contact Us page Code*/

#contact_us_image_div {
  padding: 0;
  padding-bottom: 5%;
}

#contact_us_image {
  width: 100%;
  max-height: 600px;
}

#submit_button {
  background-color: rgb(70, 70, 70);
  border-color: white;
}

#submit_button:hover {
  background-color: rgb(39, 38, 38);
}

#message_us_left {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}
#message_us_right {
  width: 50%;
  padding-left: 2%;
  display: inline-block;
  vertical-align: top;
}

#google_maps_div {
  padding-top: 7%;
}

#google_maps_title {
  text-align: center;
}

/*JS Query to move page around if using a small screen resolution*/

@media (max-width: 600px) {
  /* Smaller screen, display inline */
  #message_us_left {
    display: inline;
  }
}

@media (max-width: 600px) {
  /* Smaller screen, display inline */
  #message_us_right {
    display: inline;
    width: auto;
  }
}

/*Video Page Code*/

#video_page_title {
  text-align: center;
  padding-bottom: 5%;
}

.video_page_videos_div {
  display: inline;
  padding: 1.5%;
}

.video_page_videos {
  width: 560px;
  height: 315px;
}

@media (max-width: 600px) {
  /* Smaller screen, reduce video size */
  .video_page_videos {
    width: 300px !important;
  }
}

@media (max-width: 600px) {
  /* Smaller screen, reduce text size */
  #video_page_title {
    width: 300px !important;
  }
}
